%h4
	= question.content
%i Submitted by: #{question.user.email}

.buttons
	= link_to "Edit", edit_event_question_path(question.event, question), class: "button"
	= link_to "Delete", [question.event, question], method: :delete, data: {confirm: "Are you sure?"}
