@import "bootstrap-sprockets";
@import "bootstrap";

//- - - - - - - - - - Variables - - - - - - - - - - -

$main: #252529;
$secondary: #8b8b9f;
$highlight: #73e298;
$text: #3b3e4e;
$border-color: #e3e3e3;

//- - - - - - - - - - Global Styles - - - - - - - - - - -

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: $text;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
  max-width: 90%;
}

a{
  color: $text !important;
  line-height: 1 !important;
  &:hover{
    color: none;
    text-decoration: none;
  }
}

.devise_wrapper {
  margin: 0 auto;
  width: 45%;
}
.buttons {
  border: 1px solid $highlight;
  padding: .5em 1em;
  border-radius: 0.2em;
  text-decoration: none;
  color: $highlight !important;
}


//- - - - - - - - - - Header Styles - - - - - - - - - - -

#top_header {
  padding: 1.5em 0;
  .logo {
    float: left;
    text-transform: uppercase;
    font-size: 1.15em;
    font-weight: 700;
  }
  #main_nav {
    float: right;
    font-size: 1em;
    padding-top: 0.1em;
    .sign_up {
      border: 2px solid $highlight;
      padding: .35em;
    }
    a {
      margin-left: 1em;
      color: $secondary !important;
    }
  }
}

//- - - - - - - - - - Top Styles - - - - - - - - - - -

.top_text {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
}

//- - - - - - - - - - Event Section - - - - - - - - - - -

.title_section {
  .title {
    border-bottom: 1px solid $border-color;
    color: $highlight;
    font-size: 2.5em;
    text-transform: uppercase;
    padding: 0 0 20px 0;
  }
  .date {
      text-align: right;
      padding-top: 1em;
  }
}

//- - - - - - - - - - Question Section - - - - - - - - - - -

#question_section {
  .event_count {
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid $border-color;
  }
  #question_content {
    padding:1em 4em 2em 4em;
    border-bottom: 1px solid $border-color;
  }
}
