//- - - - - - - - - - Variables - - - - - - - - - - -

$main: #252529;
$secondary: #8b8b9f;
$highlight: #73e298;
$text: #3b3e4e;
$border-color: #e3e3e3;
$white_opaque: rgba(250, 250, 250, .3);
$text_main: #1F7972;
